
    .perm{
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
      background-color: rgb(255, 255, 255);
        z-index: 3;
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        text-align: center;
        font-family:google sans text ,Arial, Helvetica, sans-serif;
  
    }.open{
        visibility:hidden;
    }.perm h1{
     color:white;
     margin-top: -20px;
     font-size: 70px;
     font-weight: 1500;
     background: linear-gradient(60deg,rgb(213, 19, 223) ,rgb(109, 83, 255));
     background-clip: text;
     -webkit-text-fill-color: transparent;
    }

    #allow{
        background-color: #ffffff;
        width: 270px;
        color:rgb(0, 0, 0);
        height:60px;
        font-size: 30px;
        font-weight: 600;
        border:0px;
        margin-top:-60px;
        border-radius: 40px;
        align-self:center;
        box-shadow: 0px 0px 20px 0px rgb(93, 0, 255);
    }#allow:active{
        background-color: #620dff;
        color:white;
    }
#main{
    position:fixed;
    width:100%;
    height:110%;
    top:0px;
    left:0px;
    user-select: none;
    border:0px;
    text-align: center;
   background:linear-gradient(120deg,rgb(137, 237, 255),rgb(169, 248, 255));
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Rubik,Arial, Helvetica, sans-serif;
    border-radius: 0px 0px 30px 30px;
    
}#temp{
    font-size: 130px;
   margin-top: -20px;
    color:rgb(0, 0, 0);
    font-weight: 1000;
  
    
    /*tempstyle*/
   /* transform:translate(-35%,-110%) scale(0.8);
    color:white;*/
}#feels{
   margin-top: -70px;

}#location{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 60px;
    /*location style*/
}
#but1{
    position: absolute;
   left:3%;
   top:5%;
    font-size: 30px;
    border:0px;
    background-color: #00000000;
    color:rgb(0, 0, 0);
    
}.ask{
    position:absolute;
    left:83%;
    width:45px;
    height:45px;
   top:240px;
   border: 0px;
    border-radius: 30px;
    color:white;
    background:linear-gradient(120deg,rgb(0, 203, 243),rgb(174, 45, 255));
}@keyframes ai{
    100%{rotate:360deg;}
}
.active{
    background:linear-gradient(120deg,rgb(0, 204, 255),rgb(43, 11, 246));
    box-shadow: 0px -2px 20px 2px rgb(0, 213, 255);
    animation: ai 3s infinite ;
}
#show{
   position: absolute;
   width:150px;
   height:150px;
   top:-20px;
   right:-60px;
   background-color: #fffb21;
   border-radius: 200px;
   box-shadow: 0px 0px 400px 0px #fff07c;
   animation:shine 4s infinite

   
}@keyframes shine{
    70%{padding:5px;}
    30%{padding:0px;}
}
#icon{
   font-size: 25px;
}.swipebox{
   background-color:black;
   width:100%;
   font-family: Rubik,Arial, Helvetica, sans-serif;
   height:100%;
   position: fixed;
   left:0;
   top:0;
   color:white;
   z-index: 3;
   text-align: center;
   transform:translate(-100%,0%);
   transition-duration: 0.5s;
   display:flex;
   align-items: center;
   flex-direction: column;

}.openswipebox{
    transform:translate(0%,0%);
    transition-duration: 0.5s;
}.swipebox input{
    position:absolute;
    top:10%;
    font-family: Rubik,Arial, Helvetica, sans-serif;
  width:85%;
  height:60px;
  border-radius: 10px;
  border: 0px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 20px;
    
}#search{
   position:absolute;
   top:10%;
   right:7%;
    width:60px;
    height:62px;
    border:0px;
    background-color: #1bc2cb;
    font-size: 30px;
    border-radius: 0px 10px 10px 0px;
}#add{
    width:50px;
    height:50px;
    font-size: 20px;
    color:white;
    background-color: #ffffff6f;
    border-radius: 30px;
   position:absolute;
   top:90%;
   left:80%
}
#cityinfo{
    background-color: #4844558f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    width:85%;
    height:80px;
    color:white;
    font-size: 15px;
    margin:0px;
}#getlocation{
    position:absolute;
    top:63%;
    width:100px;
    height:40px;
    border: 0px;
    background-color: #1bc2cb;
    font-size: 15px;
    border-radius: 30px;
    color:white;

}#locationinfo{
    background-color: #4844558f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    width:85%;
    height:80px;
    font-size: 15px;
    color:white;
    margin:0px;
}#scrollbox{
    position: absolute;
    width:100%;
    height:320%;
    left:0;
    scrollbar-width: none;
    top:12%;
    display:flex;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0px 0px ;
    gap:10px;

}
.box{
    width:92%;
    height:220px;
    top:8%;
    overflow-x: scroll;
    display:flex;
    font-family: Rubik,Arial, Helvetica, sans-serif;
    scrollbar-width:none;
    user-select: none;
    border-radius: 30px;
}
.box h1{
    background-color: #0e0e0e;
    padding:5px;
    border-radius: 15px;
    color:white;
}
.tt{
   font-size: 13px;
   font-family:Google sans text,Arial, Helvetica, sans-serif;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 40px;
   margin-left: 10px;
   margin-right: 10px;
   
}#table1{
    position:absolute;
}.r1{
    position:absolute;right:10%;background-color: rgba(255, 255, 255, 0.41);width:5px;height:50px;border-radius: 2px;animation-name:rain;animation-duration: 3s;animation-iteration-count: infinite;
    visibility:hidden;
}

.r2{
   visibility:hidden; position:absolute;right:30%;background-color: rgba(255, 255, 255, 0.41);width:5px;height:50px;border-radius: 2px;animation-name:rain;animation-duration: 2s;animation-iteration-count: infinite;
}
.r3{
    visibility:hidden;
    position:absolute;right:40%;background-color: rgba(255, 255, 255, 0.41);width:5px;height:50px;border-radius: 2px;animation-name:rain;animation-duration: 2.5s;animation-iteration-count: infinite;
}
.r4{
    visibility:hidden;
    position:absolute;right:60%;background-color: rgba(255, 255, 255, 0.41);width:5px;height:50px;border-radius: 2px;animation-name:rain;animation-duration: 1.5s;animation-iteration-count: infinite;
}
.r5{
    visibility:hidden;
    position:absolute;right:70%;background-color: rgba(255, 255, 255, 0.41);width:5px;height:50px;border-radius: 2px;animation-name:rain;animation-duration: 3.5s;animation-iteration-count: infinite;
}
@keyframes rain{
    from{
  transform:translate(0%,10%)rotate(20deg);
}
to{transform:translate(-3000%,600%) rotate(20deg)};
}#myChart{
    max-width: 92%;
    border-radius: 30px;
}#mychart2{
    max-width: 92%;
    border-radius: 30px;

}#descdata{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 310px;
    max-height: 140px;
    font-family: google sans text,Arial, Helvetica, sans-serif;
}#descdata h1{
    font-size: 30px;
   
}
#info{
    width:100%;
    height:30%;
    border-radius:30px;
    background-color: #7b6c6c00;
    font-family: Rubik,Arial, Helvetica, sans-serif;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}.box2{
    height:180px;
margin:5px;
    background-color: #a8d5ff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: Google sans text,Arial, Helvetica, sans-serif;
     
      width:180px;
      border-radius: 20px;
   
      
   
}.box2 h1{
    font-size: 20px;
    margin:30px;
}.box2 p{
    margin-top: -10px;
    font-size: 40px;
    font-weight: 1000;
}#humidity{
    color:rgb(2, 79, 137);
    background-color:cornflowerblue;
}#feelslike{
    color:rgb(2, 137, 123);
    background-color:rgb(100, 237, 219);
}#speed{
    color:rgb(117, 137, 2);
    background-color:rgb(237, 235, 100);
}
#air{
    color:rgb(137, 58, 2);
    background-color:rgb(237, 168, 100);
}#pressure{
    color:rgb(92, 2, 137);
    background-color:rgb(155, 100, 237);
}#visibility{
    color:rgb(29, 137, 2);
    background-color:rgb(100, 237, 136);
}
#sr{
    width:250px;
    height:35px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}#loader{
    position: absolute;
    height:100px;
    width:100px;
    border-radius:100px;
    background-color: transparent;
    border:10px solid rgb(255, 255, 255);
    border-style: dotted;
    animation:rot 2s infinite;
    top:30%;
    display:none;
    
}@keyframes rot{
100%{rotate:180deg}
}#todaydata{
    height:250px;
}
